<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header::header">
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
 <!-- Possible Classes

      * 'smart-style-{SKIN#}'
      * 'smart-rtl'         - Switch theme mode to RTL
      * 'menu-on-top'       - Switch to top navigation (no DOM change required)
      * 'no-menu'           - Hides the menu completely
      * 'hidden-menu'       - Hides the main menu but still accessable by hovering over left edge
      * 'fixed-header'      - Fixes the header
      * 'fixed-navigation'  - Fixes the main menu
      * 'fixed-ribbon'      - Fixes breadcrumb
      * 'fixed-page-footer' - Fixes footer
      * 'container'         - boxed layout mode (non-responsive: will not work with fixed-navigation & fixed-ribbon)
  -->
<body class="">
    <!-- Header -->
    <header id="header" th:include="fragments/bodyHeader :: #header">
    </header>
    <!-- End header -->
   
   <!-- Left panel : Navigation area -->
    <!-- Note: This width of the aside area can be adjusted through LESS variables -->
     <aside id="left-panel" th:include="fragments/leftPanel :: #left-panel">
     </aside>
    <!-- END NAVIGATION -->
    
    <!-- MAIN PANEL -->
    <div id="main" role="main">
        <!-- RIBBON -->
        <div id="ribbon" th:include="fragments/mainRibbon :: #ribbon">
        </div>
        <!-- END RIBBON -->
        
        <!-- MAIN CONTENT -->
        <div id="content">
            <section id="widget-grid" class="">
                                <div class="row">
                
                        <!-- NEW COL START -->
                        <article class="col-sm-12 col-md-12 col-lg-12">
                            <!-- Widget ID (each widget will need unique ID)-->
                            <div class="jarviswidget" id="wid-id-1" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-custombutton="false">
                                <!-- widget options:
                                usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">
                
                                data-widget-colorbutton="false"
                                data-widget-editbutton="false"
                                data-widget-togglebutton="false"
                                data-widget-deletebutton="false"
                                data-widget-fullscreenbutton="false"
                                data-widget-custombutton="false"
                                data-widget-collapsed="true"
                                data-widget-sortable="false"
                
                                -->
                                <header>
                                    <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                                    <h2>未确认数据详细 </h2>
                
                                </header>
                
                                <!-- widget div-->
                                <div>
                
                                    <!-- widget edit box -->
                                    <div class="jarviswidget-editbox">
                                        <!-- This area used as dropdown edit box -->
                
                                    </div>
                                    <!-- end widget edit box -->
                
                                    <!-- widget content -->
                                    <div class="widget-body no-padding">
                
                                        <form class="smart-form" action="" th:object="${checkFormData}" method="post">
                                            <header>
                                                待确认数据 
                                            </header>
                
                                            <fieldset>
                                                <!--1.collectedid  -->
                                                <input type="hidden" name="collectId" th:field="*{collectId}"/>
                                                <!--2.title --> 
                                                <section>
                                                    <label class="label">爬虫标题</label>
                                                    <label class="input">
                                                        <input type="text" class="input-xs" disabled="disabled" th:field="*{title}"/>
                                                    </label>
                                                </section>
                                                
                                                <!--3.url --> 
                                                <section>
                                                    <label class="label">爬虫网址</label>
                                                    <label class="label">
                                                        <a href="" th:href="*{url}" th:text="*{url}">http://www.example.com</a>
                                                    </label>
                                                </section>
                                                
                                                <!--4.kindKbn --> 
                                                <section>
                                                    <label class="label">数据类型</label>
                                                    <label class="input">
                                                        <input type="text" class="input-xs" disabled="disabled" th:field="*{envetKbnName}"/>
                                                    </label>
                                                </section>
                                                
                                                <!--5.checked id --> 
                                                <input type="hidden" name="checkedId" th:field="*{checkedId}"/>
                                                
                                                <!--6.modifyKbn --> 
                                                <section>
                                                    <label class="label">数据类型(修改)</label>
                                                    <label class="input">
                                                        <input type="text" name="modifyKbn" class="input-xs"  th:field="*{modifyKbn}"/>
                                                    </label>
                                                </section>
                                                <!--7.modifyurl --> 
                                                <section>
                                                    <label class="label">URL修改</label>
                                                    <label class="input">
                                                        <input type="text" name="modifyUrl" class="input-xs"  th:field="*{modifyUrl}"/>
                                                    </label>
                                                </section>                                                
                 
                                                <!--8.occurdate -->   
                                                <div class="row">
	                                                <section class="col ">
	                                                    <label class="label">发生日期</label>
	                                                    <div class="hasinput icon-addon">
		                                                    <input id="dateselect_filter" type="text" name="occurDate" th:field="*{occurDate}"  class="form-control datepicker" data-dateformat="yy/mm/dd">
		                                                    <label for="dateselect_filter" class="glyphicon glyphicon-calendar no-margin padding-top-5" ></label>
		                                                </div>
	                                                </section> 
                                                </div>
                                                <!--9.eventSummary -->                                              
                                                <section>
                                                    <label class="label">事件概述</label>
                                                    <label class="input">
                                                        <input type="text" name="eventSummary" class="input-xs"  th:field="*{eventSummary}" maxlength="40"/>
                                                    </label>
                                                </section>  
                                                <!--10.pickedAddress -->                                              
                                                <section>
                                                    <label class="label">事件地址</label>
                                                    <label class="input">
                                                        <input type="text" name="eventSummary" class="input-xs"  th:field="*{eventSummary}" maxlength="60"/>
                                                    </label>
                                                </section>  
                                                
                                                <!--11.longitude --> 
                                                <div class="row">                                             
	                                                <section class="col col-6">
	                                                    <label class="label">经度</label>
	                                                    <label class="input">
	                                                        <input type="text" id="longitude" name="longitude" class="input-xs"  th:field="*{longitude}"/>
	                                                    </label>
	                                                </section> 
	                                                <section class="col col-6">
	                                                   <label class="label">纬度</label>
                                                        <label class="input">
                                                            <input type="text" id="latitude" name="latitude" th:field="*{latitude}" class="input-xs"  />
                                                        </label>
	                                                </section>
                                                </div>
                                                
                                                <!-- 12.credibility -->
                                                <!-- $('#stars-rating-4').prop('checked',true) 
                                                     $('#stars-rating-4').prop('checked') -->
                                                <section>
                                                   <label class="label">可信度</label>
                                                    <div class="rating">
                                                        <input type="radio" name="stars-rating" id="stars-rating-5">
                                                        <label for="stars-rating-5"><i class="fa fa-star"></i></label>
                                                        <input type="radio" name="stars-rating" id="stars-rating-4">
                                                        <label for="stars-rating-4"><i class="fa fa-star"></i></label>
                                                        <input type="radio" name="stars-rating" id="stars-rating-3">
                                                        <label for="stars-rating-3"><i class="fa fa-star"></i></label>
                                                        <input type="radio" name="stars-rating" id="stars-rating-2">
                                                        <label for="stars-rating-2"><i class="fa fa-star"></i></label>
                                                        <input type="radio" name="stars-rating" id="stars-rating-1">
                                                        <label for="stars-rating-1"><i class="fa fa-star"></i></label>
                                                        Stars
                                                    </div>
                                                
                                                </section>
                                                
                                                <!-- 12.地址关键字 use for pickup -->
                                                <section>
                                                    <label class="label">地址关键字(pickup)</label>
                                                    <label class="textarea">                                        
                                                        <textarea rows="2" class="custom-scroll" name="addressKeyWord" th:field="*{addressKeyWord}" ></textarea> 
                                                    </label>
                                                    <div class="note">
                                                        <strong>Note:</strong> 多个关键字时，请用逗号分开！
                                                    </div>
                                                </section>
                                                <!-- 13.发生日期关键字 use for pickup -->
                                                <section>
                                                    <label class="label">发生日期关键字(pickup)</label>
                                                    <label class="textarea">                                        
                                                        <textarea rows="2" class="custom-scroll" name="occurDateKeyWord" th:field="*{occurDateKeyWord}" ></textarea> 
                                                    </label>
                                                    <div class="note">
                                                        <strong>Note:</strong> 多个关键字时，请用逗号分开！
                                                    </div>
                                                </section>
                                                <!-- 14.概述 关键字 use for pickup -->
                                                <section>
                                                    <label class="label">概述关键字(pickup)</label>
                                                    <label class="textarea">                                        
                                                        <textarea rows="2" class="custom-scroll" name="summaryKeyWord" th:field="*{summaryKeyWord}" ></textarea> 
                                                    </label>
                                                    <div class="note">
                                                        <strong>Note:</strong> 多个关键字时，请用逗号分开！
                                                    </div>
                                                </section>           
                                                <section>
                                                    <label class="label">Small text input</label>
                                                    <label class="input">
                                                        <input type="text" class="input-sm">
                                                    </label>
                                                </section>
                                            </fieldset>
  
                                             <footer>
                                                <button type="submit" class="btn btn-primary">
                                                    确定
                                                </button>
                                                <button type="button" class="btn btn-default" onclick="window.history.back();">
                                                    返回
                                                </button>
                                            </footer>
                                        </form>
                
                                    </div>
                                    <!-- end widget content -->
                
                                </div>
                                <!-- end widget div -->
                
                            </div>
                            <!-- end widget -->
                
                        </article>
                        <!-- END COL -->                
                    </div>
            </section>
        </div>
        <!-- END MAIN CONTENT -->
    </div>
    <!-- END   MAIN PANEL-->
    
    <!-- PAGE FOOTER -->
    <div class="page-footer" th:include="fragments/footer :: footer">
    </div>
    <!-- END PAGE FOOTER -->
    
     <!-- SHORTCUT AREA : With large tiles (activated via clicking user name tag)
     Note: These tiles are completely responsive,
     you can add as many as you like
    -->
    <div id="shortcut" th:include="fragments/shortcut :: shortcut">
    </div>
    
    <div th:include="fragments/script :: script">
    </div>
    
    
</body>

    <script type="text/javascript" src="../../static/js/antec/datatable.js"
    th:src="@{/js/antec/datatable.js}">
    </script>
</html>